
.navbar{
    width: 100%;
    height: 8%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav-navitems{
    width: 75%;
    height: 100%;
    
}

.nav-logo{
    width: 10%;
    height: 100%;

}

.nav-btns{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-btn{
    width: 45%;
    height:55%;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    padding: 0;
    
}
